Package: Snmap
Version: 1.0
Section: base
Priority: optional
Architecture: all
Maintainer: Avi Twil <avitwil@gmail.com>
Description: Auto generated DEB package
Depends: python3-colorama, python3-nmap, python3-pyfiglet, python3-tqdm
